{% load static %}
<footer class="py-2 bg-light col-cobalt-t">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-6 mx-auto">
        <p class="lead my-auto">

            Copyright &copy; Ulaş Doğan Deniz 2019

            <img src="{% static 'article\img\facebook-icon.svg' %}"  height="35px" width="35px" alt="">


            <img src="{% static 'article\img\github-icon.svg' %}"    height="35px" width="35px" alt="">


            <img src="{% static 'article\img\twitter-icon.svg' %}"   height="35px" width="35px" alt="">

          /alkahesto
        </p>
      </div>
    </div>
  </div>
</footer>
