{% extends "layout.html" %}

{% load static %}

{% block content-w-c %}

<div class="headerSection">
  <div class="overlay">
    <div class="row text-center text-light">
      <div class="col" style="margin-top: 175px">
        <a href="https://www.facebook.com/alkahesto" target="_blank">
          <img src="{% static 'article\img\facebook-icon.svg' %}" height="249.7" width="249.7" alt="">
        </a>
        <p class="display-4">
          alkahesto
        </p>
      </div>

      <div class="col" style="margin-top: 175px">
        <a href="https://www.instagram.com/ulasdgndnz/" target="_blank">
          <img src="{% static 'article\img\instagram-icon.svg' %}" height="249.7" width="249.7" alt="">
        </a>
        <p class="display-4">
          ulasdgndnz
        </p>
      </div>

      <div class="col" style="margin-top: 175px">
        <a href="https://github.com/alkahesto" target="_blank">
          <img src="{% static 'article\img\github-icon.svg' %}" height="249.7" width="249.7" alt="">
        </a>
        <p class="display-4">
          alkahesto
        </p>
      </div>

      <div class="col" style="margin-top: 175px">
        <a href="https://twitter.com/Alkahesto" target="_blank">
          <img src="{% static 'article\img\twitter-icon.svg' %}" height="249.7" width="249.7" alt="">
        </a>
        <p class="display-4">
          alkahesto
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
