{% extends "layout.html" %}

{% block title %}Kontrol Paneli{% endblock %}

{% block content %}

  {% if messages %}
    <div class="text-center mt-2" role="alert">
      {% for message in messages %}
      <p {% if message.tags %} class="alert alert-{{ message.tags }} h2"{% endif %}>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}

  <p class="display-3">Hoşgeldiniz {{request.user.username}}</p>

  <hr class="cobalt">

  <a href="/articles/addarticle" class="btn btn-success">Makale Oluştur</a>

  <hr class="cobalt">

  <div class="row">
    {% if article %}
      {% for article in article  %}
        <div class="col-4 mb-3">
          <div class="card" style="width: 22.7rem;">
            <div class="card-body">
              <h5 class="card-title">{{article.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{article.author}}</h6>
              <p class="card-text">{{ article.content|truncatewords:5|safe }}</p>

              <div>
                <a href="/articles/delete/{{article.id}}" class="btn btn-danger btn-sm float-right ml-1">
                  Sil
                </a>
                <a href="/articles/update/{{article.id}}" class="btn btn-success btn-sm float-right">
                  Düzenle
                </a>
              </div>

            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
    <div class="col text-center">
      <div class="alert alert-danger" role="alert">
        Henüz bir makaleniz bulunmuyor
      </div>
    </div>
    {% endif %}
  </div>

{% endblock %}
